body {
	background-color: black;
	display: flex; 
	flex-direction: column;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	align-self: auto;
}

.aclaracion_no_leidos {
	font-size: 18px;
	color: greenyellow;
	border: greenyellow solid;
}

section {
	margin-inline: 5%;
	padding-left: 5%;
	padding-right: 5%;
	color: #e0e0e0;
	background-color: #0e0e0e;
	border: solid #0084FF;
	border-collapse: collapse;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

/* es para separar ambas tablas solamente */
article {
	margin-inline: 2%;
}

/* Esta seccion contiene la tabla de mensajes recibidos
, la tabla de mensajes enviados y el boton para redactar
un nuevo mensaje  */

#seccion_listados {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top: 0px;
	
	color: #e0e0e0;
	background-color: #0e0e0e;
	display: flex;
	flex-direction: row;

	padding: 20px;
	justify-content: center;
}

table {
	border: black solid;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}


td {
    background-color: #1a1a1a; 
    color: #e0e0e0;            
    padding: 10px;
    border: 1px solid #333;    
}


thead {
	background-color: #E4E6EB;
	color: #1C1E21;
}


.no_leido {
    background-color: #2c3e50; 
    font-weight: bold;         
}


a {
	color: #e0e0e0;
}

.btn_funcional {
	margin: auto;
	height: 70px;
	width: 100px;

	border-radius: 15px;
	border: #0084FF;
	transition: height 0.4s, width 0.4s;
	font-size: 18px;

    background-color: #0084FF; 
    cursor: pointer;
}


.btn_funcional:hover {
	height: 75px;
	width: 110px;
}